<style type="text/css">
    .about-image-container {
        padding: 25px 0;
    }
    
    .about-image {
        height: 150px;
        width: 150px;
        border-radius: 100px;
        overflow: hidden;
        background-image: url("/images/about_image.jpg");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
</style>

<section id="about">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h5 class="text-center">
                <strong>demesvar d. destin</strong>
            </h5>
            
            <div class="about-image-container" align="center">
                <div class="about-image">
                    <img src="/images/about_image.jpg" class="about-image">
                </div>
            </div>
            
            <p>
                hey there, thanks for checking out my blog! i'm a grad student
                in nyc and currently working in patient services at a healthcare
                institution. besides sharing my thoughts on here,
                i spend most of my time reading, exercising, touring the city,
                and watching period films.
            <p>
                feel free to get in touch at
                <a href="mailto:me@demesvar.com">
                    me@demesvar.com
                </a>
            </p>
            
            <p>cheers!</p>
        </div>
    </div>
</section>