<div class="row">
    <div class="col-md-6">
        <h5>
            <strong><%= @album.name %></strong>
        </h5>
        
        <p>
            <%= @album.description %>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <%= render "form" %>
    </div>
</div>