// Place all the styles related to the Album controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.album-thumbnail-container, .album-image-container {
    border-radius: 5px;
    border: none;
    cursor: pointer;
    
    .card-body {
        height: 200px;
        width: 100%;
        border-radius: 5px;
        background-size: cover;
        background-position: center;
    }
    
    .card-footer {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-top: none;
        background-color: #e5f1ff;
        display:  none;
    }
}

.album-thumbnail-container:hover, .album-image-container:hover {
    box-shadow: 0 26px 54px -10px rgba(50,50,93,.25);
}

.album-image-container-parent {
    margin-bottom: 30px;
}

.album-image-location {
    display: none;
}

@media only screen and (max-device-width: 992px) {
    .album-image-location {
        display: block !important;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .album-thumbnail-container, .album-image-container {
        margin-bottom: 15px;
        box-shadow: none !important;
        
        .card-body {
            height: 300px !important;
        }
        
        .card-body, .card-footer {
            border-radius: 0 !important;
        }
    }
    
    .album-image-container-parent {
        padding-left: 0;
        padding-right: 0;
        
        .album-image-container, .album-image-container .card-body, .album-image-container .card-footer {
            border-radius: 0 !important;
            display: block !important;
        }
    }
    
    .image-modal {
        display: none !important;
    }
    
    .modal-backdrop.show {
        opacity: 0;
    }
    .modal-backdrop.fade {
        opacity: 0;
    }
    .modal-backdrop {
        position: static;
        top: 0;
        left: 0;
        z-index: -1040;
        width: 0;
        height: 0;
        background-color: transparent;
    }
}